<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

   <!-- sidebar: style can be found in sidebar.less -->
   <section class="sidebar">
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree" id="navigation">
         <li class="header">主导航</li>
         <!-- Optionally, you can add icons to the links -->
         <li class="active"><a th:href="@{/index}"><i class="fa fa-home"></i> <span>首页</span></a></li>
         <li><a th:href="@{/job}"><i class="fa fa-briefcase"></i> <span>工作统计</span></a></li>
         <li><a th:href="@{/company}"><i class="fa fa-building"></i> <span>公司统计</span></a></li>
         <li><a th:href="@{/skill}"><i class="fa fa-building"></i> <span>技能统计</span></a></li>
         <li><a th:href="@{/update}"><i class="fa fa-refresh"></i> <span>数据更新</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->
   </section>
   <!-- /.sidebar -->
</aside>