<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaopin.dao.CompanyMapper">
  <resultMap id="BaseResultMap" type="com.zhaopin.model.Company">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="nature" jdbcType="VARCHAR" property="nature" />
    <result column="scale" jdbcType="VARCHAR" property="scale" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, nature, scale, url, industry, address, description, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from company
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from company
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.zhaopin.model.Company">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into company (id, name, nature, 
      scale, url, industry, 
      address, description, create_time
      )
    values (#{id,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{nature,jdbcType=VARCHAR}, 
      #{scale,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{industry,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhaopin.model.Company">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="name != null">
        name,
      </if>
      <if test="nature != null">
        nature,
      </if>
      <if test="scale != null">
        scale,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="industry != null">
        industry,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=CHAR},
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nature != null">
        #{nature,jdbcType=VARCHAR},
      </if>
      <if test="scale != null">
        #{scale,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhaopin.model.Company">
    update company
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nature != null">
        nature = #{nature,jdbcType=VARCHAR},
      </if>
      <if test="scale != null">
        scale = #{scale,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhaopin.model.Company">
    update company
    set name = #{name,jdbcType=VARCHAR},
      nature = #{nature,jdbcType=VARCHAR},
      scale = #{scale,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>