<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaopin.dao.CityMapper">
  <select id="countProvinceJobNumber" resultType="City">
    SELECT province,COUNT(*) AS total FROM city a INNER JOIN job b ON a.city=b.city GROUP BY province ORDER BY total DESC
  </select>

  <select id="countCityJobNumber" resultType="City">
    SELECT city,COUNT(*) AS total FROM job GROUP BY city ORDER BY total DESC LIMIT 20
  </select>

  <select id="selectCity" resultType="City">
    SELECT * FROM city
  </select>
</mapper>