<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaopin.dao.CompanyMapper">

  <insert id="insertCompanyList" parameterType="Company" >
    INSERT INTO company(`id`,`name`,`nature`,`scale`,`url`,`industry`,`address`,`description`,`create_time`)
    VALUES
    <foreach collection="list" item="company" separator=",">
      (#{company.id,jdbcType=CHAR}, #{company.name,jdbcType=VARCHAR},
      #{company.nature,jdbcType=VARCHAR}, #{company.scale,jdbcType=VARCHAR},
      #{company.url,jdbcType=VARCHAR}, #{company.industry,jdbcType=VARCHAR},
      #{company.address,jdbcType=VARCHAR}, #{company.description,jdbcType=VARCHAR},now())
    </foreach>
  </insert>

  <select id="countCompanyForNature" resultType="Company">
    SELECT nature,COUNT(*) AS total FROM company GROUP BY nature
  </select>

  <select id="countCompanyForScale" resultType="Company">
    SELECT `scale`,COUNT(*) AS total FROM company GROUP BY `scale`
  </select>

  <select id="countCompanyForIndustry" resultType="Company">
    SELECT industry,COUNT(*) AS total FROM company GROUP BY industry
  </select>
</mapper>